<div class="busca_form">
  <%= form_tag tipos_path, method: :get do %>
    <%= text_field_tag :term, params[:term], placeholder: 'Insira a descrição do tipo', :class => "input is-small input-buscar"%>
    <%= submit_tag "Buscar", class: "bt-buscar"%>
  <% end %>
</div>