<div class="busca_form">
  <%= form_tag chamados_path, method: :get do %>
    <%= text_field_tag :term, params[:term], placeholder: 'Número do chamado', :class => "input is-small input-buscar"%>
    <%= submit_tag "Buscar", class: "bt-buscar"%>
  <% end %>
</div>