<div class="modal">
  <div class="modal-background"></div>
  <section class="modal-content">
    <h1 class="title">Novo Técnico</h1>
    <%= render 'form', tecnico: @tecnico %>
    <%= render "compartilhadas/back_button" %>
  </section>
  <%= render "compartilhadas/close_button" %>
</div>
<%= render "compartilhadas/js-modal-close" %>